<section class="h-screen w-full relative" id="hero-container">
  <h1
    class="p-8 text-5xl text-balance absolute bottom-0 left-0 opacity-40 font-serif max-w-[1500px] leading-tight font-extralight tracking-normal"
    id="hero-text"
  >
    6+ Years of experience as a FE developer and web designer, 5+ as a
    photographer prior. Comfortable with Astro, Next.js, Tailwind, Typescript,
    Three.js, Sanity CMS, Payload CMS, Stripe, Shopify Liquid, Motion & GSAP.
  </h1>
</section>
